* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.video{
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}



.socials {
  position: fixed;
  bottom: calc(15dvh);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

@media only screen and (max-width: 768px) {
  .socials {
      bottom: calc(17dvh);
  }

  video {
      transform: scale(1.6);
      transform-origin: center center;
  }
}

.socials a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}

.social {
  position: relative;
  transition: all 0.3s ease;
  color: white;
}

.social:hover {
  background: linear-gradient(
          120deg,
          white 42%,
          rgba(255, 0, 204, 0.996) 50%,
          white 58%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 0;
}

.social::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 7, 209);
  transition: width 0.3s ease;
}

.social:hover::after {
  width: 100%;
}

.social:hover {
  transform: scale(1.03);
  background-position: 100% 0;
  transition: all 0.5s ease;
}